$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
$MyWarningRed:#ff000e;

.my-spinner-container{
  position: fixed;
  bottom:0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $MyDarkBlue;
  color: $MyLightBlue;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.SignUp,.SignIn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Merienda One', cursive;
  background: $MyDarkBlue;
  color: $MyLightBlue;
  min-height: 630px;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: $MyDarkBlue;
    width: 550px;
    height: 100%;
    padding: 20px;
    border: 5px solid cadetblue;
    border-radius: 20px;
    input {
      padding: 8px;
      width: 500px;
      height: 30px;
    }
    .field-container {
      display: block;
      text-align: left;
      margin: 10px 0;
      span {
        margin-right: 10px;
      }
    }
    .double-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 500px;
      input{
        width: 230px;
      }
    }
    .error-message {
      color: $MyWarningRed;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: auto;
    }
    button{
      margin: 10px 0;
      padding: 4px;
      background-color: $MyLightBlue;
      border-radius: 6px;
      width: 100%;
      height: 35px;
    }
  }
  @media (min-width: 260px) and (max-width: 716px) {
    form {
      width: 300px;
      input{
        width: 275px;
      }
      .double-container{
        width: 275px;
        //padding: 0 10px;
        input{
          width: 130px;
        }
      }
      button {
        width: 280px;
      }
    }
  }
}