{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "kentcdodds/possible-errors",
    "kentcdodds/best-practices",
    "kentcdodds/es6/possible-errors",
    "kentcdodds/import",
    "kentcdodds/jest",
    "plugin:cypress/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "cypress", "prettier", "@emotion"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "jsx-a11y/no-onchange": "off",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "@emotion/jsx-import": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/styled-import": "error",
    "jsx-a11y/no-static-element-interactions": [
      "error",
      {
        "handlers": ["onClick", "onKeyPress", "onKeyDown", "onKeyUp"]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
