service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {
      allow read;
      allow write, create, delete: if request.auth.uid !=null
    }
    match /users/{userId}{
    allow read: if request.auth.uid != null
    allow create, write, delete: if request.auth.uid != null // == userId to allow only the owner to update or delete
    }
    match /notifications/{notification}{
    allow read, write, create, delete: if request.auth.uid != null
    }
    match /contactedMe/{message}{
    allow create;
    allow read, write, delete: if request.auth.uid != null
    }
    
  }
}