$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;

.MyNav {
  position: absolute;
  top: 26px;
  right: 26px;
  ul {
    margin-left: 20px;
    a:focus,
    a:hover,
    a:active {
      color: $MyDarkBlue !important;
      background-color: $MyLightBlue;
    }
    a {
      color: $MyLightBlue;
    }
  }
}