$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
$MyBackgroundBlue:#23527c;
$NavBackgroundBlue:#337ab7;

.Navigation {
  border: 0;
  padding: 20px 10px 10px 10px;
  background: $MyDarkBlue;
  display: flex !important;
  justify-content: center;
  font-family: 'Merienda One', cursive;;
  span{
    font-size: 38px;
    color: $MyLightBlue !important;
    &:hover{
      color: $MyLightBlue;
    }
  }
 .not-auth-nav{
      list-style: none;
    a{
      text-decoration: none;
      color: $MyDarkBlue;
      border: 2px transparent;
      background-color: $MyLightBlue;
      padding: 6px;
      border-radius: 24px;
    }
  }
  a, div, ul *{
    font-size: 18px;
    background-color: $MyDarkBlue;
    color: $MyLightBlue;
  }
  a:hover{
    background-color: $MyLightBlue;
    color: $MyDarkBlue;
  }
  @media (max-width:366px) {

    .navbar-brand{
      font-size: 24px;
    }
  }
}