$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
$MyBackgroundBlue:#23527c;
$NavBackgroundBlue:#337ab7;

.Navigation {
  border: 0;
  padding: 10px;
  background: $MyDarkBlue;
  display: flex !important;
  justify-content: center;
  font-family: 'Merienda One', cursive;;
  span{
    font-size: 38px;
    color: $MyLightBlue !important;
    &:hover{
      color: $MyLightBlue;
    }
  }
  a, div, ul *{
    font-size: 18px;
    background-color: $MyDarkBlue;
    color: $MyLightBlue;
  }
  a:hover{
    background-color: $MyLightBlue;
    color: $MyDarkBlue;
  }
}