$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
.ContactMe {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 20px;
  margin-top: 0;
  h1 {
    color: $MyLightBlue;
    margin: 0;
    padding: 10px 0;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 10px 50px;
    padding: 10px;
    width: calc(100% - 100px);
    min-height: 264px;
    .field-container {
      display: block;
      height: 50px;
      text-align: left;
      margin: 10px 0;
      .input-svg {
        display: flex;
        align-items: center;
        border: 0 solid $MyLightBlue;
        background-color: $MyLightBlue;
        padding: 5px;
        svg {
          font-size: 30px;
          margin-right: 10px;
          color: $MyDarkBlue;
        }
        input {
          color: $MyDarkBlue;
          border: 0;
          background-color: $MyLightBlue;
        }
      }
    }
    .first-container {
      justify-self: center;
      input {
        padding: 5px;
        width: 200px;
        height: 30px;
      }
      @media screen and (max-width: 516px) {
        width: 300px;
      }
    }
    .second-container {
      max-height: 200px;
      font-size: 14px;
      font-stretch: extra-expanded;
      text-align: justify;
      font-weight: 500px;
      color: $MyLightBlue;
      align-self: center;
      .textArea {
        width: 60%;
        height: 190px;
        color: $MyDarkBlue;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        background-color: $MyLightBlue;
        resize: none;
      }
    }
    button {
      justify-self: center;
      width: 100px;
      padding: 5px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      background-color: $MyLightBlue;
      color: $MyDarkBlue;
    }
    .error-message {
      color: $MyLightBlue;
    }
  }
}