@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;

.MessagesSummary {
  overflow: hidden !important;
  display: grid;
  background-color: $MyDarkBlue;
  grid-gap: 5px;
  padding: 25px;
  margin: 0;
  height: 220px;
  overflow: auto;
  border: 5px solid;
  justify-items: center;
  align-content: space-evenly;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: 'Merienda One', cursive;
  a{
    text-decoration: none;
  }
  .my-scroller {
    height: 103px !important;
    text-align: justify;
  }
  span{
    font-size: 12px;
    justify-self: flex-end;
  }
  @media (max-width: 320px){
    height: 200px;
  }
}