$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
$MyBackgroundBlue:#23527c;
$NavBackgroundBlue:#337ab7;

.Dashboard {
  background-color: $MyBackgroundBlue;
  height: 100%;
  padding: 20px;
  font-family: 'Merienda One', cursive;

  header {
    padding: 20px;
    margin: 0 20px 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color:black;
    border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

    h1 {
      margin: 0;
      align-self: start;
      color: $MyLightBlue;
      opacity: .7;
    }


  }

  .Dashboard-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: $MyBackgroundBlue;
    // padding-top: 20px;
    flex: 0 100%;

    .first-container {
      width: 50%;
      background-color: $MyLightBlue;
      margin: 10px 10px 10px 20px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

    .second-container {
      color: $MyLightBlue;
      margin: 10px 20px 10px 10px;
      padding: 20px;
      width: 50%;
      background-color: $MyDarkBlue;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

    @media (min-width: 220px) and (max-width: 520px) {
      align-items: center;
      flex-direction: column;

      .first-container,
      .second-container {
        width: 100%;
      }

    }
  }
}