$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
$MyBackgroundBlue:#23527c;
$NavBackgroundBlue:#337ab7;
.my-spinner-container{
  position: fixed;
  bottom:0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $MyDarkBlue;
  color: $MyLightBlue;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.Dashboard {
  background-color: $MyBackgroundBlue;
  height: 100%;
  padding: 20px;
  font-family: 'Merienda One', cursive;
  header {
    padding: 20px;
    margin: 0 20px 20px;
    min-height: 100% !important;
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    //background-color:black;
    //border-radius: 8px;
    //-webkit-border-radius: 8px;
    //-moz-border-radius: 8px;
    //-ms-border-radius: 8px;
    //-o-border-radius: 8px;

    h1 {
      margin: 0;
      align-self: center;
      color: $MyLightBlue;
      opacity: .7;
    }
    @media (max-width: 860px) {
      justify-content: center;
      //flex-direction: column;
      h1{
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
      }
    }
  }
main{
  background-color:$MyBackgroundBlue !important;
}
  .Dashboard-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: $MyBackgroundBlue;
    flex: 0 100%;
    .first-container {
    padding: 20px 0;
      width: calc( 100% - 350px);
      background-color: $MyLightBlue;
      margin: 10px 10px 10px 20px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
    .second-container {
      color: $MyLightBlue;
      justify-content: center;
      margin: 10px 20px 10px 10px;
      padding: 20px;
      width: 350px;
      background-color: $MyDarkBlue;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
    @media (max-width: 716px) {
      align-items: center;
      flex-direction: column;
      header{
        h1{
          width: 100%;
          text-align: center;
        }
      }
      .first-container,
      .second-container {
        width: 100%;
        margin: 10px;
      }
    }
  }
}