$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
.Messages {
  color: $MyDarkBlue;
  h1 {
    margin: 0;
    padding: 10px 0;
  }
  .cards-wrapper{
    //margin: 10px 0;
    padding: 20px 10px;
    display: grid;
    grid-gap: 25px;
    justify-content: space-evenly;
    grid-template-columns: repeat( auto-fit, minmax(220px, 230px));
    a{
      text-decoration: none;
      font-style: none;
    }
  }
  @media (max-width: 320px) {
    padding-top: 20px;
  }
}