$MyLightBlue: #d4dff6;
$MyDarkBlue: #282c34;
.Home {
  text-align: center;
  max-width: 100% !important;
  .Home-header {
    // background-color: $MyDarkBlue;
    // min-height: 632px;
    // display: flex;
    // flex-direction: column;
    // // align-items: center;
    // // font-size: calc(10px + 2vmin);
    // color: $MyLightBlue;
  }
}
