$lighterDarkBlue: #212121;
$lightGray: #e0e0e0;
$BrightToMedGrey: #c3c3c3;
$medGrey: #8c8c8c;
$darkGrey: #1d1d1d;
$midToDarkGrey: #757575;
$roomMeRed: #d50201;
$white: #fff;
$dimWhite: #d5d5d5;
$green: #19786b;
$black: #040404;
$yellow: #ffc600;

.Thumb {
  margin: 5px;
  border: 2px dashed #757575;
  border-radius: 2px;
  padding: 5px;
  img {
    width: auto;
    //max-width: 100px;
  }
  .close-button {
    $size: 15px;
    height: $size;
    width: $size;
    position: relative;
    box-sizing: border-box;
    line-height: $size;
    display: inline-block;
    background: transparent;
    border: none;

    &:before,
    &:after {
      $width: 15px;
      $height: 5px;
      transform: rotate(-45deg);
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$height/2;
      margin-left: -$width/2;
      display: block;
      height: $height;
      width: $width;
      background-color: $roomMeRed;
      transition: all 0.25s ease-out;
    }

    &:after {
      transform: rotate(-135deg);
    }

    &:hover {
      &:before,
      &:after {
        transform: rotate(0deg);
      }
    }
  }
}
