$MyLightBlue: #d4dff6;
$midToDarkGrey: #757575;
$MyDarkBlue:#282c34;

.my-spinner-container{
  position: fixed;
  bottom:0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $MyDarkBlue;
  color: $MyLightBlue;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.CreateProject{
  font-family: 'Merienda One', cursive;
  background: $MyLightBlue;
  min-height: 630px;
  h1{
    padding: 20px;
  }

  .wrapper-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .maping{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
      width: 50%;
      height: 414px;
      grid-gap: 10px;
      img{
        width: 122px;
        height: auto;
      }
    }
  }
  .uploaded-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    width: 500px;
    height: 500px;
    grid-gap: 10px;
  }
  form{
    padding: 20px ;
    display: grid;
    grid-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    min-height: 400px;
    .drop-zone-styles {
      width: 185px;
      height: 150px;
      border: 2px dashed $midToDarkGrey;
      border-radius: 2px;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      //position: initial !important;
      &:hover {
        cursor: pointer;
      }
      input {
        width: 100%;
      }
    }
    input, textarea{
      padding: 4px 8px;
      width: 190px;
      justify-self: center;
    }
    button{
      text-align: center;
      width: 100%;
      border: 0;
      border-radius: 3px;
      background-color: $MyDarkBlue;
      color: $MyLightBlue;
      padding: 2px;
    }
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 2px;
    }
  }
}