$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;

.CreateProject{
  font-family: 'Merienda One', cursive;
  background: $MyLightBlue;
  min-height: 630px;
  h1{
    padding: 20px;
  }
  form{
    padding: 20px ;
    display: grid;
    grid-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    height: 50%;
    input, textarea{
      padding: 4px 8px;
    }
    button{
      text-align: center;
      width: 100%;
      border: 0;
      border-radius: 3px;
      background-color: $MyDarkBlue;
      color: $MyLightBlue;
      padding: 2px;
    }

  }
}