@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$MyLightBlue: cornflowerblue;
$MyDarkBlue: #282c34;
$MyBackgroundBlue: #23527c;
$NavBackgroundBlue: #337ab7;
$MyWarningRed: #ff000e;

.ProjectSummary {
  display: grid;
  background-color: lighten($MyDarkBlue, 2%);
  grid-gap: 5px;
  padding: 25px;
  margin: 0;
  height: 300px;
  border: 6px solid $MyBackgroundBlue;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: 'Merienda One', cursive;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    border-color: $NavBackgroundBlue;
    background-color: $MyDarkBlue;
  }
  .icons-svg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $MyLightBlue;
    justify-self: flex-start;
    align-self: flex-start;
    svg {
      width: 18px;
      height: 18px;
    }
    button {
      border: 0;
      background: transparent;
      &:hover {
        color: $MyWarningRed;
      }
    }
  }
  img {
    border: 5px solid $MyLightBlue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .cardP {
    display: block;
    overflow-block: hidden;
    max-height: 101px;
    color: cornflowerblue;
    font-weight: 300;
    overflow-y: auto;
    height: 78px;
  }
}
