@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;

.ProjectSummary {
  display: grid;
  background-color: $MyDarkBlue;
  grid-gap: 5px;
  padding: 25px;
  margin: 0;
  height: 350px;
  border: 5px solid;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: 'Merienda One', cursive;
  img {
    border: 5px solid $MyLightBlue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  a{
    text-decoration: none;
  }
}