$MyLightBlue: #d4dff6;
$MyDarkBlue: #282c34;

.App {
  text-align: center;
  min-height: 100%;
  overflow: unset;
  width: 100%;
  header {
    background-color: $MyDarkBlue;
    min-height: 632px;
  }
  main {
    padding: 20px 0;
    min-height: 632px;
    background-color: $MyLightBlue;
  }
  footer {
    padding: 20px 0;
    min-height: 404px;
    background-color: $MyDarkBlue;
  }
  @media (max-width: 516px) {
    //min-height: 750px;
    min-width: 100%;
    font-size: 14px;
    flex-direction: row;
  }
}
