@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Bilbo+Swash+Caps|Clicker+Script|Lovers+Quarrel|Meddon|Merienda+One|Monsieur+La+Doulaise|Pinyon+Script|Tangerine:700');
$MyLightBlue: #d4dff6;
$MyDarkBlue:#282c34;
.App {
  text-align: center;
  min-height: 100%;
  .App-header {
    background-color: $MyDarkBlue;
    min-height: 632px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $MyLightBlue;
    .myNav-container {
      display: grid;
      grid-template-columns: 5fr 3fr;
      @media (max-width: 1176px) {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      @media (max-width: 780px) {
        flex-direction: column-reverse;
        justify-items: center;
      }
      .my-name {
        text-align: left;
        align-self: center;
        font-size: 50px;
        font-family: 'Merienda One', cursive;
        @media (max-width: 700px) {
          span {
            font-size: 40px;
            text-align: center;
            width: 100%
          }
        }
      }
      .scroll-spy {
        display: flex;
        align-self: flex-end;
        border: 25px solid transparent;
        a {
          margin: 10px;
          padding: 10px;
          text-decoration: none;
          border: 1px solid $MyLightBlue;
          color: $MyDarkBlue !important;
          background-color: $MyLightBlue;
          min-width: 120px;
          font-size: 18px;
          font-weight: 500;
          &:active {
            color: $MyDarkBlue !important;
            background-color: $MyLightBlue;
          }
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          @media (max-width: 116px) {
            font-size: 14px;
            min-width: 96px;
            margin: 5px;
          }
          @media (max-width: 500px) {
            font-size: 12px;
            min-width: 80px;
            margin: 0 2px;
            padding: 5px;
          }
          @media (max-width: 320px) {
            font-size: 12px;
            min-width: 80px;
            margin: 10px 2px 0;
            padding: 5px;
          }
        }
        @media (max-width: 1088px) {
          border: 0px solid;
          align-self: center;
        }
        @media (max-width: 500px) {
          padding: 5px;
        }
      }
    }
  }
  header{
    padding: 20px 0;
    background: $MyDarkBlue;
  }
  main {
    min-height: 632px;
    background-color: $MyLightBlue;
  }
  footer {
    min-height: 632px;
    background-color: $MyDarkBlue;
  }
  @media (max-width: 516px) {
    min-height: 750px;
    font-size: 14px;
    flex-direction: row
  }
}