@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, header {
  margin: 0;
  padding: 0;
  //font-family: -apple-system, BlinkMacSystemFont,
  // 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  //  'Open Sans';
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: 'Open Sans', sans-serif;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
